* {
    padding: 0;
    margin: 0;
    font-family: "Nunito", sans-serif;
}

body {
    scroll-behavior: smooth;
    background-color: #fff;
}

.bold {
    font-weight: bold;
}

.helvetica-bold {
    font-family: "Helvetica", sans-serif;
    font-weight: 800;
}

/* Jumbotron */
@media (min-width: 992px) {
    .jumbotron {
        background-color: #7C32FF;
        height: 100vh;
        border-radius: 0;
    }
    
    .jumbotron .container {
        position: relative;
        top: 5rem !important;
        text-align: left !important;
    }
    
    .jumbotron .container .row .jumbo-img {
        display: block !important;
    }

    .jumbotron .container .row .jumbo-img img {
        width: 25rem !important;
        position: relative;
        left: 5em;
    }

    .jumbotron .container .row .scroll-downs {
        position: absolute;
        top: 20rem;
        left: 10px;
        margin: auto;
        width :34px;
        height: 55px;
    }
    .jumbotron .container .row .mousey {
        width: 3px;
        padding: 10px 15px;
        height: 35px;
        border: 2px solid #fff;
        border-radius: 25px;
        opacity: 0.75;
        box-sizing: content-box;
    }
    .jumbotron .container .row .scroller {
        width: 3px;
        height: 10px;
        border-radius: 25%;
        background-color: #fff;
        -webkit-animation: scroll 2.2s cubic-bezier(.15,.41,.69,.94) infinite;
        animation: scroll 2.2s cubic-bezier(.15,.41,.69,.94) infinite;
    }

    @-webkit-keyframes scroll {
        0% { opacity: 0; }
        10% { transform: translateY(0); opacity: 1; }
        100% { transform: translateY(15px); opacity: 0;}
    }

    @keyframes scroll {
        0% { opacity: 0; }
        10% { transform: translateY(0); opacity: 1; }
        100% { transform: translateY(15px); opacity: 0;}
    }
}

@media (max-width: 600px) {
    .jumbotron {
        background-color: #7C32FF;
        height: 100vh;
        border-radius: 0;
    }

    .jumbotron .container {
        position: relative;
        top: 6rem;
        text-align: center;
    }

    .jumbotron .container .row .jumbo-img {
        text-align: center;
        margin: 22px auto;
        display: none;
    }

    .jumbotron .container .row .jumbo-img img {
        width: 15rem;
    }
}
/* END Jumbotron */

/* Service */
@media (min-width: 992px) {
    .services {
        margin-top: 80px;
        height: 100vh;
    }

    .services .container .service-header h2 {
        color: #59BBEC;
        margin-bottom: 50px;
        font-size: 40px;
        display: inline-block;
    }

    .services .container .row .column .card {
        border-radius: 0;
        border: 1px solid #f5f5f5;
        text-align: center;
        height: 22rem;
        box-shadow: 0 15px 20px rgba(0,0,0,0.2);
        padding: 20px;
        box-sizing: border-box;
    }

    .services .container .row .column .card:hover .description .small-title {
        color: #7C32FF;
    }

    .services .container .row .column .card img {
        width: 7rem;
        margin-top: 10px;
    }

    .services .container .row .column .card .description .small-title {
        color: #000;
        transition: .3s;
    }

    .services .container .row .column .card .description {
        color: #000;
        margin-top: 50px;
    }
}

@media (max-width: 600px) {
    .services {
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .services .container .service-header h2 {
        color: #59BBEC;
        margin-bottom: 50px;
        font-size: 40px;
        text-align: center;
    }

    .services .container .row .column {
        margin: 10px 10px;
    }

    .services .container .row .column .card {
        border-radius: 0;
        border: 1px solid #f5f5f5;
        text-align: center;
        height: 22rem;
        box-shadow: 0 10px 15px rgba(0,0,0,0.2);
        padding: 20px;
        box-sizing: border-box;
    }

    .services .container .row .column .card:hover .description .small-title {
        color: #7C32FF;
    }

    .services .container .row .column .card img {
        width: 7rem;
        margin-top: 10px;
    }

    .services .container .row .column .card .description .small-title {
        color: #000;
        transition: .3s;
    }

    .services .container .row .column .card .description {
        color: #000;
        margin-top: 50px;
    }
}

/* pricing */
@media (min-width: 992px) {
    .price {
        margin-top: 80px;
        margin-bottom: 80px;
        background-color: #fcf6f6;
        padding: 20px;
    }

    .price .container .price-header h2 {
        color: #59BBEC;
        margin-bottom: 50px;
        font-size: 40px;
    }

    .price .container .price-body .row .column {
        margin: 10px auto;
    }

    .price .container .price-body .row .column .card {
        border-radius: 0;
        border: 1px solid #f5f5f5;
        text-align: center;
        box-shadow: 0 10px 15px rgba(0,0,0,0.2);
        padding: 20px;
        box-sizing: border-box;
        height: 35rem;
    }

    .price .container .price-body .row .column .card .card-header {
        background-color: unset;
    }

    .price .container .price-body .row .column .card .card-header .title {
        font-size: 17px;
    }
    
    .price .container .price-body .row .column .card .card-header .pricing {
        color: #24A8EC;
        font-size: 35px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .price .container .price-body .row .column .card .card-header .optional-description {
        color: #888;
    }

    .price .container .price-body .row .column .card .card-body {
        margin-top: 15px;
    }

    .price .container .price-body .row .column .card .card-body ul li {
        list-style: none;
        margin: 15px auto;
    }
}

@media (max-width: 600px) {
    .price {
        margin-top: 80px;
        margin-bottom: 80px;
        background-color: #fcf6f6;
        padding: 20px;
    }

    .price .container .price-header h2 {
        color: #59BBEC;
        margin-bottom: 50px;
        font-size: 40px;
        text-align: center;
    }

    .price .container .price-body .row .column {
        margin: 10px auto;
    }

    .price .container .price-body .row .column .card {
        border-radius: 0;
        border: 1px solid #f5f5f5;
        text-align: center;
        box-shadow: 0 10px 15px rgba(0,0,0,0.2);
        padding: 20px;
        box-sizing: border-box;
        height: 32rem;
    }

    .price .container .price-body .row .column .card .card-header {
        background-color: unset;
    }

    .price .container .price-body .row .column .card .card-header .title {
        font-size: 17px;
    }
    
    .price .container .price-body .row .column .card .card-header .pricing {
        color: #24A8EC;
        font-size: 35px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .price .container .price-body .row .column .card .card-header .optional-description {
        color: #888;
    }

    .price .container .price-body .row .column .card .card-body {
        margin-top: 15px;
    }

    .price .container .price-body .row .column .card .card-body ul li {
        list-style: none;
        margin: 15px auto;
    }
}

/* What they say? */
@media (min-width: 992px) {
    .testimonial {
        margin-top: 80px;
        margin-bottom: 80px;
        padding: 20px;
    }

    .testimonial .container .testi-header h2 {
        color: #59BBEC;
        margin-bottom: 50px;
        font-size: 40px;
    }

    .testimonial .container .testi-body .row .column {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .testimonial .container .testi-body .row .column .card {
        border-radius: 0;
        background: #7c32ff;
        text-align: center;
        box-shadow: 0 10px 15px rgba(0,0,0,0.3);
        padding: 20px;
        box-sizing: border-box;
        color: #fff;
    }

    .testimonial .container .testi-body .row .column .card .card-footer {
        font-size: 12pt;
    }
}

@media (max-width: 600px) {
    .testimonial {
        margin-top: 80px;
        margin-bottom: 80px;
        padding: 20px;
    }

    .testimonial .container .testi-header h2 {
        color: #59BBEC;
        margin-bottom: 50px;
        font-size: 40px;
        text-align: center;
    }

    .testimonial .container .testi-body .row .column {
        margin: 10px auto;
    }

    .testimonial .container .testi-body .row .column .card {
        border-radius: 0;
        background: #7c32ff;
        text-align: center;
        box-shadow: 0 10px 15px rgba(0,0,0,0.3);
        padding: 20px;
        box-sizing: border-box;
        color: #fff;
    }

    .testimonial .container .testi-body .row .column .card .card-footer {
        font-size: 12pt;
    }
}


/* news */
@media (min-width: 992px) {
    .news {
        margin: 100px auto;
    }

    .news .container .news-header {
        margin-bottom: 50px;
    }

    .news .container .news-header h2 {
        color: #24A8EC;
    }

    .news .container .row .column {
        margin-bottom: 15px;
    }

    .news .container .row .column .card {
        height: 25rem;
    }

    .news .container .row .column .card .card-img-top {
        height: 200px;
    }

    .news .container .row .column .card .card-body .card-title {
        text-decoration: none;
        color: #000;
    }
    
    /* show news */
    .detail-news {
        margin-top: 120px;
        margin-bottom: 100px;
    }

    .detail-news .container .card {
        border: none;
        width: 900px;
        margin: auto;
    }

    .detail-news .container .card .card-header {
        background-color: unset;
        border: none;
    }

    .detail-news .container .card .card-header .card-title {
        font-size: 25pt;
    }

    .detail-news .container .card .card-header .creator-info .created__by,
    .detail-news .container .card .card-header .creator-info .created__at,
    .detail-news .container .card .card-header .creator-info .category {
        color: #24A8EC !important;
    }

    .detail-news .container .card .card-body .img-article {
        width: 100%;
        height: 30rem;
    }

    .detail-news .container .card .card-body p {
        text-align: justify;
    }
}

@media (max-width: 600px) {
    .news {
        margin: 50px auto;
    }

    .news .container .news-header {
        margin-bottom: 50px;
        text-align: center;
    }

    .news .container .news-header h2 {
        color: #24A8EC;
    }

    .news .container .row .column {
        margin: 15px auto;
    }

    .news .container .row .column .card {
        height: 25rem;
        border-radius: 0;
    }

    .news .container .row .column .card .card-img-top {
        height: 200px;
    }

    .news .container .row .column .card .card-body .card-title {
        text-decoration: none;
        color: #000;
    }
    
    /* show news */
    .detail-news {
        margin-top: 120px;
        margin-bottom: 100px;
    }

    .detail-news .container .card {
        border: none;
        width: 900px;
        margin: auto;
    }

    .detail-news .container .card .card-header {
        background-color: unset;
        border: none;
    }

    .detail-news .container .card .card-header .card-title {
        font-size: 25pt;
    }

    .detail-news .container .card .card-header .creator-info .created__by,
    .detail-news .container .card .card-header .creator-info .created__at,
    .detail-news .container .card .card-header .creator-info .category {
        color: #24A8EC !important;
    }

    .detail-news .container .card .card-body .img-article {
        width: 100%;
        height: 30rem;
    }

    .detail-news .container .card .card-body p {
        text-align: justify;
    }

}

/* Contact */
@media (min-width: 992px) {
    .contact {
        margin-top: 50px;
        margin-bottom: 100px;
    }
    
    .contact .container {
        padding: 20px;
    }
    
    .contact .container h2 {
        text-align: center;
        font-size: 35pt;
        color: #24A8EC;
    }
    
    .contact .container h2:hover::after {
        width: 100%;
    }
    
    .contact .container .row .contact-form {
        max-width: 50%;
        margin: auto;
    }
    
    .contact .container .row .contact-form form .form-group .form-control {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -o-border-radius: 0;
        border-radius: 0;
        -webkit-transition: 0.2s ease-in;
        -moz-transition: 0.2s ease-in;
        -o-transition: 0.2s ease-in;
        transition: 0.2s ease-in;
    }
    
    .contact .container .row .contact-form form .btn-submit-contact-form {
        background-color: #7C32FF;
        border-radius: 0;
        color: #fff;
        width: 100%;
        height: 50px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.4);
        -webkit-transition: 0.2s ease-in;
        -moz-transition: 0.2s ease-in;
        -o-transition: 0.2s ease-in;
        transition: 0.2s ease-in;
    }
    
    .contact .container .row .contact-form form .btn-submit-contact-form:hover {
        background-color: #8c7ae6;
    }    
}

@media (max-width: 600px) {
    .contact {
        margin-top: 50px;
        margin-bottom: 100px;
    }
    
    .contact .container {
        padding: 20px;
    }
    
    .contact .container h2 {
        text-align: center;
        font-size: 35pt;
        color: #24A8EC;
    }
    
    .contact .container h2:hover::after {
        width: 100%;
    }
    
    .contact .container .row .contact-form {
        max-width: 100%;
        margin: auto;
    }
    
    .contact .container .row .contact-form form .form-group .form-control {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -o-border-radius: 0;
        border-radius: 0;
        -webkit-transition: 0.2s ease-in;
        -moz-transition: 0.2s ease-in;
        -o-transition: 0.2s ease-in;
        transition: 0.2s ease-in;
    }
    
    .contact .container .row .contact-form form .btn-submit-contact-form {
        background-color: #7C32FF;
        border-radius: 0;
        color: #fff;
        width: 100%;
        height: 50px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.4);
        -webkit-transition: 0.2s ease-in;
        -moz-transition: 0.2s ease-in;
        -o-transition: 0.2s ease-in;
        transition: 0.2s ease-in;
    }
    
    .contact .container .row .contact-form form .btn-submit-contact-form:hover {
        background-color: #8c7ae6;
    }    
}
