* {
    padding: 0;
    margin: 0;
    font-family: "Nunito", sans-serif;
}

body {
    scroll-behavior: smooth;
    background-color: #fff;
}

/* Jumbotron */
@media (min-width: 992px) {
    .jumbotron {
        background-image: url('../images/background.svg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 600px;
        border-radius: 0;
        position: relative;
        top: -2rem;
    }
    
    .jumbotron .container {
        position: relative;
        top: 5rem !important;
        text-align: left !important;
    }
    
    .jumbotron .container .row .jumbo-img {
        display: block !important;
    }

    .jumbotron .container .row .jumbo-img img {
        width: 25rem !important;
        position: relative;
        left: 5em;
    }

    .jumbotron .container .row .scroll-downs {
        position: absolute;
        top: 18rem;
        left: 10px;
        margin: auto;
        width :34px;
        height: 55px;
    }
    .jumbotron .container .row .mousey {
        width: 3px;
        padding: 10px 15px;
        height: 35px;
        border: 2px solid #fff;
        border-radius: 25px;
        opacity: 0.75;
        box-sizing: content-box;
    }
    .jumbotron .container .row .scroller {
        width: 3px;
        height: 10px;
        border-radius: 25%;
        background-color: #fff;
        -webkit-animation: scroll 2.2s cubic-bezier(.15,.41,.69,.94) infinite;
        animation: scroll 2.2s cubic-bezier(.15,.41,.69,.94) infinite;
    }

    @-webkit-keyframes scroll {
        0% { opacity: 0; }
        10% { transform: translateY(0); opacity: 1; }
        100% { transform: translateY(15px); opacity: 0;}
    }

    @keyframes scroll {
        0% { opacity: 0; }
        10% { transform: translateY(0); opacity: 1; }
        100% { transform: translateY(15px); opacity: 0;}
    }
}

.jumbotron {
    background-image: url('../images/background.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    border-radius: 0;
}

.jumbotron .container {
    position: relative;
    top: 8rem;
    text-align: center;
}

.jumbotron .container .row .jumbo-img {
    text-align: center;
    margin: 22px auto;
    display: none;
}

.jumbotron .container .row .jumbo-img img {
    width: 15rem;
}
/* END Jumbotron */

/* About Section */
@media (min-width: 992px) {
    .about {
        box-sizing: border-box;
    }

    .about .container {
        margin: 20px auto;
        position: relative;
    }

    .about .container .about-header h2::after {
        content: '';
        display: block;
        width: 50%;
        height: 2px;
        background-color: #24A8EC;
        transition: 0.4s;
    }

    .about .container .about-header h2 {
        font-size: 40pt;
        margin-bottom: 30px;
        display: inline-block;
    }

    .about .container .about-header h2:hover::after {
        width: 100%;
    }

    .about .container .about-header .background-point {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        font-size: 200pt;
        z-index: -1;
        color: #f5f5f5;
    }

    .about .container .about-body .row .about-img img {
        width: 25rem !important;
        height: 22rem;
        position: relative;
        bottom: 5rem;
        left: 2rem;
    }
}

.about {
    box-sizing: border-box;
}

.about .container {
    margin: 20px auto;
    position: relative;
}

.about .container .about-header .background-point {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 200pt;
    z-index: -1;
    color: #f5f5f5;
}

.about .container .about-header h2::after {
    content: '';
    display: block;
    width: 50%;
    height: 5px;
    background-color: #24A8EC;
    transition: 0.4s;
}

.about .container .about-header h2 {
    font-size: 40pt;
    margin-bottom: 30px;
    display: inline-block;
}

.about .container .about-header h2:hover::after {
    width: 100%;
}

.about .container .about-body .row .about-img {
    text-align: center;
}

.about .container .about-body .row .about-img img {
    width: 25rem !important;
    height: 22rem;
}

.about .container .tongue {
    width: 10rem;
    position: absolute;
    bottom: -5.5rem;
    z-index: 1;
    left: 42%;
}

/* End About */

/* Service */
@media (min-width: 992px) {
    .service {
        box-sizing: border-box;
        margin-top: 50px;
        position: relative;
        background-color: #7C32FF;
        padding: 50px;
    }

    .service .container {
        margin: 50px auto;
        position: relative;
    }

    .service .container .service-header h2::after {
        content: '';
        display: block;
        width: 50%;
        height: 5px;
        background-color: #fff;
        transition: 0.4s;
    }

    .service .container .service-header h2 {
        font-size: 40pt;
        margin-bottom: 30px;
        display: inline-block;
        color: #fff;
    }

    .service .container .service-header h2:hover::after {
        width: 100%;
    }

    .service .container .service-header .background-point {
        position: absolute;
        top: -15rem;
        right: 1rem;
        font-size: 200pt;
        z-index: -1;
        opacity: 0.1;
    }

    .service .container .service-body .row {
        margin-top: 30px;
    }

    .service .container .service-body .row .column {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .service .container .service-body .row .column .card {
        -webkit-border-radius: 10px 50px 10px 50px;
        -moz-border-radius: 10px 50px 10px 50px;
        -o-border-radius: 10px 50px 10px 50px;
        border-radius: 10px 50px 10px 50px;
        padding: 20px;
        box-sizing: border-box;
        text-align: center;
        -webkit-transition: 0.4s cubic-bezier(0.77,0.2,0.05,1.0);
        -moz-transition: 0.4s cubic-bezier(0.77,0.2,0.05,1.0);
        -o-transition: 0.4s cubic-bezier(0.77,0.2,0.05,1.0);
        transition: 0.4s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    .service .container .service-body .row .column .card:hover {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
    }

    .service .container .service-body .row .column .card .card-logo-and-title .icon {
        width: 8rem;
        margin-bottom: 3rem;
    }
}

.service {
    box-sizing: border-box;
    margin-top: 50px;
    position: relative;
    background-color: #7C32FF;
    padding: 50px;
}

.service .container {
    margin: 50px auto;
    position: relative;
}

.service .container .service-header h2::after {
    content: '';
    display: block;
    width: 50%;
    height: 5px;
    background-color: #fff;
    transition: 0.4s;
}

.service .container .service-header h2 {
    font-size: 40pt;
    margin-bottom: 30px;
    display: inline-block;
    color: #fff;
}

.service .container .service-header h2:hover::after {
    width: 100%;
}

.service .container .service-header .background-point {
    position: absolute;
    top: -15rem;
    right: 1rem;
    font-size: 200pt;
    z-index: -1;
    opacity: 0.1;
}

.service .container .service-body .row {
    margin-top: 30px;
}

.service .container .service-body .row .column {
    margin-top: 10px;
    margin-bottom: 10px;
}

.service .container .service-body .row .column .card {
}

.service .container .service-body .row .column .card:hover {
    -webkit-box-shadow: 0 5px 10px rgba(255, 255, 255,0.3);
    -moz-box-shadow: 0 5px 10px rgba(255, 255, 255,0.3);
    -o-box-shadow: 0 5px 10px rgba(255, 255, 255,0.3);
    box-shadow: 0 5px 10px rgba(255, 255, 255,0.3);
}

.service .container .service-body .row .column .card .card-logo-and-title .icon {
    width: 8rem;
    margin-bottom: 3rem;
}
/* END Service */

/* Product */
@media (min-width: 992px) {
    .product {
        box-sizing: border-box;
        position: relative;
        background-color: #f5f5f5;
        padding: 30px;
    }

    .product .container {
        margin: 50px auto;
        position: relative;
    }

    .product .container .product-header h2::after {
        content: '';
        display: block;
        width: 50%;
        height: 5px;
        background-color: #24A8EC;
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
    }

    .product .container .product-header h2 {
        font-size: 40pt;
        margin-bottom: 30px;
        display: inline-block;
        color: #000;
    }

    .product .container .product-header h2:hover::after {
        width: 100%;
    }

    .product .container .product-header .background-point {
        position: absolute;
        top: -15rem;
        right: 1rem;
        font-size: 200pt;
        z-index: -1;
        opacity: 0.1;
    }

    .product .container .product-body .row {
        margin-top: 30px;
    }

    .product .container .product-body .row .column {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .product .container .product-body .row .column .card {
        -webkit-border-radius: 10px 50px 10px 50px;
        -moz-border-radius: 10px 50px 10px 50px;
        -o-border-radius: 10px 50px 10px 50px;
        border-radius: 10px 50px 10px 50px;
        padding: 20px;
        box-sizing: border-box;
        text-align: center;
        -webkit-transition: 0.3s cubic-bezier(0.77,0.2,0.05,1.0);
        -moz-transition: 0.3s cubic-bezier(0.77,0.2,0.05,1.0);
        -o-transition: 0.3s cubic-bezier(0.77,0.2,0.05,1.0);
        transition: 0.3s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    .product .container .product-body .row .column .card:hover {
        -webkit-box-shadow: 0 5px 10px rgba(255, 255, 255,0.3);
        -moz-box-shadow: 0 5px 10px rgba(255, 255, 255,0.3);
        -o-box-shadow: 0 5px 10px rgba(255, 255, 255,0.3);
        box-shadow: 0 5px 10px rgba(255, 255, 255,0.3);
    }

    .product .container .product-body .row .column .card .card-logo-and-title .icon {
        width: 8rem;
        margin-bottom: 3rem;
    }
}

/* Contact */
.contact {
    margin-top: 100px;
    margin-bottom: 100px;
}

.contact .container {
    padding: 20px;
}

.contact .container h2::after {
    content: '';
    display: block;
    width: 50%;
    height: 5px;
    background-color: #24A8EC;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.contact .container h2 {
    font-size: 40pt;
    margin-bottom: 30px;
    display: inline-block;
    color: #000;
}

.contact .container h2:hover::after {
    width: 100%;
}

.contact .container .row .contact-form form .form-group .form-control {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
}

.contact .container .row .contact-form form .btn-submit-contact-form {
    background-color: #7C32FF;
    border-radius: 0;
    color: #fff;
    width: 100%;
    height: 50px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.4);
    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
}

.contact .container .row .contact-form form .btn-submit-contact-form:hover {
    background-color: #8c7ae6;
}

